    <!-- About Section -->
    <section id="about">
      <div class="w-section section">
        <div class="about-details">
          <div class="w-container container">
            <ul>
              <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>About</h2>
                <p>             
                  <% data.about.each do |about| %>
                  <%= about["title"] %>  
                  <%= about["description"] %>
                  <%= about["paragraph"] %>
                  <% end  %>
                </p>
              </li>
              <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Skills</h2>
                <p> 
                  <% data.about.each do |about| %>
                  <%= about["title-robot"] %>  
                  <%= about["description-robot"] %>
                  <%= about["paragraph-robot"] %>
                  <% end  %>
                </p>
              </li>
              <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Work</h2>
                <p>          
                  <% data.about.each do |about| %>
                  <%= about["title-right"] %>  
                  <%= about["description-right"] %>
                  <%= about["paragraph-right"] %> 
                  <% end  %>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
